{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class=" card card-body">
<h1 class="display-1 text-center">Django App </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repudiandae quasi dignissimos accusantium aut asperiores nulla quidem, tempore optio facilis? Placeat, explicabo non rem ipsum corporis aut nostrum voluptate mollitia saepe sit est quae minima nulla laudantium doloribus doloremque accusamus voluptates qui sequi. Cum error sunt laborum. Itaque debitis voluptate tempora excepturi animi distinctio quasi, quaerat voluptatem tenetur magni voluptatibus vero doloribus nihil voluptates delectus quod culpa? Cum neque voluptatum fugiat totam iusto odit mollitia animi enim hic quam voluptas omnis eaque, quas vel maiores aperiam atque facilis dolorem aliquid error! Ad, perferendis? Optio, in eligendi. Optio cum et quibusdam.</p>
<div class="text-center">
    <a class="btn btn-secondary" href="/signin/">
    Signin
    </a>
    <a class="btn btn-dark" href="/signup/">
    Signup
</a>
</div>
</section>
</main>


{% endblock %}